html {
	font-family: sans-serif, Verdana, Arial;
}

header {
	/*postion: fixed;*/
	top: 0;
	background-color: #fff;
}

header .titlecontainer {
	width: 96%;
	margin-left: 2%;
	box-shadow: 1px 1px 4px #aaa;
	-o-box-shadow: 1px 1px 4px #aaa;
	-webkit-box-shadow: 1px 1px 4px #aaa;
	-moz-box-shadow: 1px 1px 4px #aaa;
	height: 60px;
	position: relative;
	z-index: 1000;
	background-color: #fff;
}

.logo {
	margin: 13px 10px;
	float: right;
	width: 120px;
}

header h1 {
	font-weight: lighter;
	clear: both;
	float: left;
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
}

header h1:after, header nav:after, header .logo:after {
	clear: both;
}

nav {
	position: relative;
	clear: both;
	z-index: 50;
	background-color: #fff;
	float: left;
	margin-left: 2%;
	margin-top: -1px;
	box-shadow: 1px 1px 4px #aaa;
	-o-box-shadow: 1px 1px 4px #aaa;
	-webkit-box-shadow: 1px 1px 4px #aaa;
	-moz-box-shadow: 1px 1px 4px #aaa;
}

nav ul {
	display: inline;
	list-style-type: none;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #333;
	padding: 12px 24px;
}

nav ul li:last-child {
	border-right: none;
}

nav ul li:after, nav:after, nav ul {
	clear: both;
}

nav ul {
	padding: 0px;
	margin: 0px;
}

nav ul:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

nav ul li:hover>ul {
	visibility: visible;
}

nav ul li ul {
	display: inline;
	visibility: hidden;
	position: absolute;
	padding: 0;
}

nav li ul li {
	background-color: #fff;
}

nav ul li ul li {
	float: none;
	padding: 0;
	margin: 0;
	color: #000;
	box-shadow: 2px 2px 2px #dfdfdf;
	-moz-box-shadow: 2px 2px 2px #dfdfdf;
	-webkit-box-shadow: 2px 2px 2px #dfdfdf;
	border-top: 1px solid #ccc;
	border-right: none;
}

nav ul li ul li a:hover {
	color: #11568C; /*Wird überschossen*/
}

nav ul li {
	float: left;
	border-right: 1px solid #aaa;
}

/* green #00BE00 */
nav ul li:hover>a {
	color: #11568C;
}

nav ul li:hover>ul li a {
	color: #000;
}

nav ul li:hover a {
	color: #11568C;
}

nav ul li ul li a {
	color: #000;
}

nav ul li ul li a:hover {
	color: #11568C;
}

.content {
	padding-top: 100px;
}

.logo {
	float: right;
}

.content {
	margin: 0 20px;
	width: 100%;
}
.content h2:first-of-type {
	margin-top: 0;
}
.footerbar {
	margin-top: 10px;
	text-align: right;
	margin-bottom: 5px;
	margin-right: 2.5%;
	font-size: x-small;
}

.footerbar a {
	color: #000;
}
.debug_box{
	position:fixed;
	width:100px;
	top:100px;
	right:30px;
	border:3px solid #FF0000;
	background:#FFF;
	padding:15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.error_box{
    position:fixed;
    width:600px;
    top:200px;
    left:30px;
    border:3px solid #FF0000;
    color: #FF0000;
    background:#FFF;
    padding:15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}