.headerbar{
    position:fixed;
        top:0px;
        left:5px;
}

.menubar{
    position:fixed;
    top:40px;
    left:600px;
}

.content{
    position:fixed;
    top:40px;
    left:0px;
    width:600px;
}

.footerbar{
    position:fixed;
    top:500px;
    left:0px;
}