<div class="content">

<h2>CAcert RA-Audit test system</h2>

<p>If you want to take part in testing send a mail to test-ra-audit-system-admin (at) cacert.org and which role you want to test.</p>

<p>These roles are available:</p>
<ul>
    <li>RA-Auditor with read and write access</li>
    <li>Session administrator with read access</li>
    <li>Administrator with read access</li>
    <li>Auditor with read access</li>
</ul>

</div>
